.footer {
  margin-top: 119px;

  background-color: $color-grey;
}

.footer__nav {
  max-width: 1245px;
  min-width: $page-min-width;

  margin: 0 auto;
  padding-left: 7px;
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.footer__nav-link {
  display: block;
  text-align: center;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: $color-dark;

  padding: 30px 9px 30px 9px;

  &:hover,
  &:focus {
    background-color: $color-form-grey;
  }
}
