.product-section {
  display: flex;
  justify-content: space-between;

  max-width: $page-container-width;
  min-width: $page-min-width;
  min-height: 494px;

  font-weight: 400;

  margin: 0 auto 86px auto;
  padding-left: 9px;
}
